Node-Red/my_NodeRed.txt
[{"id":"804b7e22.b38208","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"8d6f3657.218c8","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"test","name":"data"},{"id":"b734dfeb.48cb2","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"c94d7d8.f36b28","type":"function","name":"router","func":"context.data = context.data || new Object();\ncontext.topic = \"test\";\n\nvar now = new Date(); \nvar currentTime = now.getFullYear()+'/'+(now.getMonth()+1)+'/'+now.getDate(); \ncurrentTime += ' '+now.getHours()+':'+now.getMinutes()+':'+now.getSeconds(); \n\ncontext.data.currentTime = currentTime;\n\nswitch (msg.topic) {\n    case \"gazObject\":\n\t\tcontext.data.lastGazValue = msg.value;\n        context.data.lastGazValueTime = currentTime;\n        msg = null;\n        break;\n    case \"command\":\n    \tif(msg.payload == \"start\"){\n    \t\tcontext.data.playValue = true;\n    \t}\n    \tif(msg.payload == \"stop\"){\n    \t\tcontext.data.playValue = false;\n    \t}\n    \tcontext.data.lastCommandValue = msg.payload;\n    \tcontext.data.lastCommandTime = currentTime;\n    \t\n        msg = null;\n        break;\n        \n    default:\n    \tmsg.data = context.data;\n}\nreturn context;","outputs":"1","x":410,"y":513.6666870117188,"z":"fff6eb82.000918","wires":[["2cc04edb.d33fb2","d07ab6e2.2f8548"]]},{"id":"706d491e.8f92b8","type":"function","name":"gazObject","func":"context = context || new Object();\ncontext.topic = \"gazObject\";\ncontext.value = msg.payload;\nreturn context;","outputs":1,"x":254.7777557373047,"y":442.66668701171875,"z":"fff6eb82.000918","wires":[["c94d7d8.f36b28"]]},{"id":"2cc04edb.d33fb2","type":"function","name":"Data buffer","func":"context.data = context.data || new Object();\n\nvar now = new Date(); \nvar currentTime = now.getFullYear()+'/'+(now.getMonth()+1)+'/'+now.getDate(); \ncurrentTime += ' '+now.getHours()+':'+now.getMinutes()+':'+now.getSeconds(); \n\ncontext.data.currentTime = currentTime;  \n\nswitch (msg.topic) {\n\tcase \"test\" :\n\t\tcontext.data.lastGazValue = msg.data.lastGazValue; \n\t\tcontext.data.lastGazValueTime = msg.data.lastGazValueTime;\n\t\tcontext.data.lastCommandValue = msg.data.lastCommandValue;\n\t\tcontext.data.lastCommandTime = msg.data.lastCommandTime;\n\t\t\n\t\tif(msg.data.playValue == false){\n\t\t\tcontext.data.lastGazValue = \"unavailable\"; \n\t\t\tcontext.data.lastGazValueTime = \"unavailable\"; \n\t\t}\n\t\tmsg = null;\n\t\tbreak;\n\tdefault :\n\t\tmsg.data=context.data;\n}\t\t\nreturn msg;","outputs":1,"x":590.6666870117188,"y":573.3333740234375,"z":"fff6eb82.000918","wires":[["ad5add7b.52a52"]]},{"id":"5a46f946.a5b908","type":"http in","name":"","url":"/gaz","method":"get","x":410.4444580078125,"y":680.6665649414062,"z":"fff6eb82.000918","wires":[["2cc04edb.d33fb2"]]},{"id":"11c92e4c.ee36d2","type":"http response","name":"http out","x":962.4445190429688,"y":625.1110229492188,"z":"fff6eb82.000918","wires":[]},{"id":"ad5add7b.52a52","type":"template","name":"Template","template":"Hello<br />\nCurrent date & Time = {{data.currentTime}}<br /><br /><br />\n\nLast gaz value received = {{data.lastGazValue}} at {{data.lastGazValueTime}}\n<br />\nLast Command received = {{data.lastCommandValue}} at {{data.lastCommandTime}}\n\n","x":753.8888549804688,"y":573.0000610351562,"z":"fff6eb82.000918","wires":[["11c92e4c.ee36d2"]]},{"id":"e2ada190.1d526","type":"http in","name":"","url":"/dinamicgaz","method":"get","x":548.1111145019531,"y":719.4443969726562,"z":"fff6eb82.000918","wires":[["4ee58100.b11a8"]]},{"id":"4ee58100.b11a8","type":"template","name":"Auto Update Script","template":"<script> \n    setInterval(function(){\t\n\t    var theUrl = \"http://127.0.0.1:1880/gaz\";\n\t    var xmlHttp = new XMLHttpRequest();   \n\t    if (window.XMLHttpRequest){\n\t    \tvar xmlHttp = new XMLHttpRequest();\n\t    \txmlHttp.open( \"GET\", theUrl, false );\n\t    \txmlHttp.send( null );\n\t    \txmlHttp.responseText;\n\t    \tdocument. getElementById('data').innerHTML = xmlHttp.responseText;\n        }\n\t    \n\t    },1000);\n    \n</script>\n<div id = 'data'>\n ... Loading ...\n</div>\n","x":725.4445190429688,"y":678.4443969726562,"z":"fff6eb82.000918","wires":[["11c92e4c.ee36d2"]]},{"id":"6d283bef.92d7c4","type":"mqtt in","name":"","topic":"gazValue","broker":"b734dfeb.48cb2","x":126.11111450195312,"y":315.11114501953125,"z":"fff6eb82.000918","wires":[["706d491e.8f92b8"]]},{"id":"85df69b1.7a2098","type":"twitter in","twitter":"","tags":"@sahaninoo","user":"user","name":"","topic":"tweets","x":90.5,"y":738,"z":"fff6eb82.000918","wires":[["371bd39c.c8e42c"]]},{"id":"371bd39c.c8e42c","type":"function","name":"TwittFilter","func":"var tweet = msg.payload;\nvar hash = tweet.substring(tweet.indexOf(\"#\")+1);\nmsg.payload = \"\";\nif(hash == \"gazProject\"){\n\tvar command = tweet.substring(0,tweet.indexOf(\"#\")-1);\n}\nmsg.topic = \"command\";\nmsg.payload = command;\nreturn msg;","outputs":1,"x":247.33331298828125,"y":638.0000610351562,"z":"fff6eb82.000918","wires":[["c94d7d8.f36b28"]]},{"id":"77096781.88f698","type":"mongodb out","mongodb":"8d6f3657.218c8","name":"GazProjectDB","collection":"gazValueCollection","payonly":false,"operation":"store","x":947,"y":458,"z":"fff6eb82.000918","wires":[]},{"id":"770fa435.88f05c","type":"mqtt in","name":"mqtt gazValue","topic":"gazValue","broker":"804b7e22.b38208","x":314,"y":61,"z":"fff6eb82.000918","wires":[[]]},{"id":"d07ab6e2.2f8548","type":"function","name":"prepareValue","func":"\n//msg.date = new Date().toString();\nmsg.addedTime = msg.data.currentTime;\nmsg.GazValue = msg.data.lastGazValue;\nmsg.GazTime = msg.data.lastGazValueTime;\n\ndelete msg.data;\n//delete msg.lastGazValue;\n//delete msg.lastGazTime;\ndelete msg.topic;\ndelete msg._topic;\ndelete msg.global;\n\n\n\ndelete msg.qos;\ndelete msg.retain;\nreturn msg;","outputs":"1","x":591,"y":458,"z":"fff6eb82.000918","wires":[["77096781.88f698"]]}]
