Node-Red/my_NodeRed.txt
[{"id":"8d6f3657.218c8","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"test","name":"data"},{"id":"b734dfeb.48cb2","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"7df422c.ea83a5c","type":"function","name":"router","func":"context.data = context.data || new Object();\ncontext.topic = \"test\";\n\nvar now = new Date(); \nvar currentTime = now.getFullYear()+'/'+(now.getMonth()+1)+'/'+now.getDate(); \ncurrentTime += ' '+now.getHours()+':'+now.getMinutes()+':'+now.getSeconds(); \n\ncontext.data.currentTime = currentTime;\n\nswitch (msg.topic) {\n    case \"gazObject\":\n\t\tcontext.data.lastGazValue = msg.value;\n        context.data.lastGazValueTime = currentTime;\n        msg = null;\n        break;\n    case \"command\":\n    \tif(msg.payload == \"start\"){\n    \t\tcontext.data.playValue = true;\n    \t}\n    \tif(msg.payload == \"stop\"){\n    \t\tcontext.data.playValue = false;\n    \t}\n    \tcontext.data.lastCommandValue = msg.payload;\n    \tcontext.data.lastCommandTime = currentTime;\n    \t\n        msg = null;\n        break;\n        \n    default:\n    \tmsg.data = context.data;\n}\nreturn context;","outputs":"1","x":404.5,"y":237.66668701171875,"z":"3b37a93c.5f59be","wires":[["b042c7a7.c8191","3d2a028a.f615b6"]]},{"id":"96e6dd8d.9a63e8","type":"function","name":"gazObject","func":"context = context || new Object();\ncontext.topic = \"gazObject\";\ncontext.value = msg.payload;\nreturn context;","outputs":1,"x":249.2777557373047,"y":166.66668701171875,"z":"3b37a93c.5f59be","wires":[["7df422c.ea83a5c"]]},{"id":"b042c7a7.c8191","type":"function","name":"Data buffer","func":"context.data = context.data || new Object();\n\nvar now = new Date(); \nvar currentTime = now.getFullYear()+'/'+(now.getMonth()+1)+'/'+now.getDate(); \ncurrentTime += ' '+now.getHours()+':'+now.getMinutes()+':'+now.getSeconds(); \n\ncontext.data.currentTime = currentTime;  \n\nswitch (msg.topic) {\n\tcase \"test\" :\n\t\tcontext.data.lastGazValue = msg.data.lastGazValue; \n\t\tcontext.data.lastGazValueTime = msg.data.lastGazValueTime;\n\t\tcontext.data.lastCommandValue = msg.data.lastCommandValue;\n\t\tcontext.data.lastCommandTime = msg.data.lastCommandTime;\n\t\t\n\t\tif(msg.data.playValue == false){\n\t\t\tcontext.data.lastGazValue = \"unavailable\"; \n\t\t\tcontext.data.lastGazValueTime = \"unavailable\"; \n\t\t}\n\t\tmsg = null;\n\t\tbreak;\n\tdefault :\n\t\tmsg.data=context.data;\n}\t\t\nreturn msg;","outputs":1,"x":585.1666870117188,"y":297.3333740234375,"z":"3b37a93c.5f59be","wires":[["fb166680.146108"]]},{"id":"acd40ad4.d8a2f","type":"http in","name":"","url":"/gaz","method":"get","x":404.9444580078125,"y":404.66656494140625,"z":"3b37a93c.5f59be","wires":[["b042c7a7.c8191"]]},{"id":"cd23b9c0.d5844","type":"http response","name":"http out","x":956.9445190429688,"y":349.11102294921875,"z":"3b37a93c.5f59be","wires":[]},{"id":"fb166680.146108","type":"template","name":"Template","template":"Hello<br />\nCurrent date & Time = {{data.currentTime}}<br /><br /><br />\n\nLast gaz value received = {{data.lastGazValue}} at {{data.lastGazValueTime}}\n<br />\nLast Command received = {{data.lastCommandValue}} at {{data.lastCommandTime}}\n\n","x":748.3888549804688,"y":297.00006103515625,"z":"3b37a93c.5f59be","wires":[["cd23b9c0.d5844"]]},{"id":"a6d42979.809738","type":"http in","name":"","url":"/dinamicgaz","method":"get","x":542.6111145019531,"y":443.44439697265625,"z":"3b37a93c.5f59be","wires":[["56713981.d8d2e"]]},{"id":"56713981.d8d2e","type":"template","name":"Auto Update Script","template":"<script> \n    setInterval(function(){\t\n\t    var theUrl = \"http://127.0.0.1:1880/gaz\";\n\t    var xmlHttp = new XMLHttpRequest();   \n\t    if (window.XMLHttpRequest){\n\t    \tvar xmlHttp = new XMLHttpRequest();\n\t    \txmlHttp.open( \"GET\", theUrl, false );\n\t    \txmlHttp.send( null );\n\t    \txmlHttp.responseText;\n\t    \tdocument. getElementById('data').innerHTML = xmlHttp.responseText;\n        }\n\t    \n\t    },1000);\n    \n</script>\n<div id = 'data'>\n ... Loading ...\n</div>\n","x":719.9445190429688,"y":402.44439697265625,"z":"3b37a93c.5f59be","wires":[["cd23b9c0.d5844"]]},{"id":"cf74039f.07118","type":"mqtt in","name":"","topic":"gazValue","broker":"b734dfeb.48cb2","x":120.61111450195312,"y":39.11114501953125,"z":"3b37a93c.5f59be","wires":[["96e6dd8d.9a63e8","4a7cbcd7.72b40c"]]},{"id":"e592d637.7bc67","type":"twitter in","twitter":"","tags":"@sahaninoo","user":"user","name":"","topic":"tweets","x":85,"y":462,"z":"3b37a93c.5f59be","wires":[["d2819b71.fb3c68"]]},{"id":"d2819b71.fb3c68","type":"function","name":"TwittFilter","func":"var tweet = msg.payload;\nvar hash = tweet.substring(tweet.indexOf(\"#\")+1);\nmsg.payload = \"\";\nif(hash == \"gazProject\"){\n\tvar command = tweet.substring(0,tweet.indexOf(\"#\")-1);\n}\nmsg.topic = \"command\";\nmsg.payload = command;\nreturn msg;","outputs":1,"x":241.83331298828125,"y":362.00006103515625,"z":"3b37a93c.5f59be","wires":[["7df422c.ea83a5c"]]},{"id":"e2b3c0c.3935c4","type":"mongodb out","mongodb":"8d6f3657.218c8","name":"GazProjectDB","collection":"gazValueCollection","payonly":false,"operation":"store","x":941.5,"y":182,"z":"3b37a93c.5f59be","wires":[]},{"id":"3d2a028a.f615b6","type":"function","name":"prepareValue","func":"\n//msg.date = new Date().toString();\nmsg.addedTime = msg.data.currentTime;\nmsg.GazValue = msg.data.lastGazValue;\nmsg.GazTime = msg.data.lastGazValueTime;\n\ndelete msg.data;\n//delete msg.lastGazValue;\n//delete msg.lastGazTime;\ndelete msg.topic;\ndelete msg._topic;\ndelete msg.global;\n\n\n\ndelete msg.qos;\ndelete msg.retain;\nreturn msg;","outputs":"1","x":585.5,"y":182,"z":"3b37a93c.5f59be","wires":[["e2b3c0c.3935c4"]]},{"id":"45c4921b.db901c","type":"twitter out","twitter":"","name":"Tweet alert","x":944,"y":37,"z":"3b37a93c.5f59be","wires":[]},{"id":"49eb8845.db068","type":"function","name":"create tweet","func":"//msg.payload = context.value;\nmsg.payload = \"Attention valeur de gaz anormale : \" + msg.payload;\nreturn msg;","outputs":1,"x":729,"y":37,"z":"3b37a93c.5f59be","wires":[["45c4921b.db901c"]]},{"id":"4a7cbcd7.72b40c","type":"switch","name":"gazValue>500","property":"payload","rules":[{"t":"gt","v":"500"}],"checkall":"true","outputs":1,"x":425,"y":38,"z":"3b37a93c.5f59be","wires":[["49eb8845.db068"]]}]
